Repository gbto/monorepo-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: pants-update-build-files, pants-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
        name: Check YAML
      - id: end-of-file-fixer
        name: End-of-File Fixer
      - id: trailing-whitespace
        name: Trailing Whitespace
  - repo: local
    hooks:
      - id: pants-update-build-files
        name: Format BUILD files (Pants)
        entry: ./pants update-build-files
        files: BUILD
        language: system
        pass_filenames: false
      - id: pants-fmt
        name: Format (Pants)
        entry: ./pants fmt
        language: system
        types_or: [python]
      - id: pants-lint
        name: Lint (Pants)
        entry: ./pants --owners-not-found-behavior=ignore lint
        language: system

chore: Make jobs and utils mypy compliant
  .flake8
  jobs/job_a/BUILD
  jobs/job_a/Dockerfile
  jobs/job_a/__init__.py
  jobs/job_b/BUILD
  jobs/job_b/Dockerfile
  jobs/job_b/__init__.py
  mypy.ini
  pants.toml
  utils/package_1/BUILD
  utils/package_1/__init__.py
  utils/package_1/main.py
  utils/package_2/BUILD
  utils/package_2/__init__.py
Due: pants-update-build-files, pants-fmt

chore: Update pants version and 3rdparty locks
  .pre-commit-config.yaml
  3rdparty/black.lock
  3rdparty/mypy.lock
  3rdparty/python-default/pyproject.toml
  3rdparty/python-default/python-default.lock
  pants
  pants.toml
Due: none

style: Rename CI pipeline file
  .github/workflows/continuous_integration.yml
  .pre-commit-config.yaml
Due: none

refactor: Replace existing continuous deployment pipeline
  .github/workflows/continuous_deployment.yml
Due: none

fix: Remove source from package_2 BUILD file
  utils/package_2/BUILD
Due: pants-update-build-files

chore: Update .gitignore
  .DS_Store
  .gitignore
  jobs/.DS_Store
  utils/.DS_Store
Due: none

fix: Attempt to fix CD
  jobs/job_a/Dockerfile
  jobs/job_b/Dockerfile
Due: none

fix: Attempt to fix CD permissions to write package
  jobs/job_a/BUILD
  jobs/job_b/BUILD
Due: pants-update-build-files

fix: Correct repository labels pointing to old repo
  jobs/job_a/Dockerfile
  jobs/job_b/Dockerfile
Due: none

chore: Trigger CD pipeline
  .gitignore
Due: none

fix: Attempt to solve the ghcr destination issue
  tasks/task_a/BUILD
  tasks/task_a/Dockerfile
  tasks/task_a/__init__.py
  tasks/task_a/main.py
  tasks/task_b/BUILD
  tasks/task_b/Dockerfile
  tasks/task_b/__init__.py
  tasks/task_b/main.py
  utils/package_1/main.py
  utils/package_2/main.py
Due: pants-update-build-files, pants-fmt

chore: Change back to
  tasks/task_a/BUILD
  tasks/task_a/Dockerfile
  tasks/task_b/BUILD
  tasks/task_b/Dockerfile
  utils/package_1/main.py
  utils/package_2/main.py
Due: pants-update-build-files, pants-fmt

chore: Remove deprecated github workflows
  .github/drafts/aws.yaml
  .github/drafts/pants.yaml
Due: none
